{% extends 'base.html' %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h2>Обратная связь</h2>

    <div class="accent">
      <p>По вопросам работы сайта и сотрудничества:</p>

      <p><strong>WhatsApp:</strong></p>
      <p>
        <a href="https://wa.me/77713607040" target="_blank">
          7 771 360 7040
        </a>
      </p>

      <p><strong>Email:</strong></p>
      <p>
        <a href="mailto:asiagreat.kz@gmail.com">
          asiagreat.kz@gmail.com
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock %}