<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Market Parts магазин</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="header">
    <div class="logo">Market Parts</div>

    <div>
        <a href="/catalog/" class="category-btn">Каталог</a>
        <a href="/catalog/seller/login/" class="btn-login">Войти продавцу</a>
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>